<div class="sidebar">
  <div class="side">
    <i class="fa fa-shopping-bag fa-lg"></i>
    <i class="fa fa-shopping-cart fa-lg"></i>
    <i class="fa fa-address-book fa-lg"></i>
    <i class="fa fa-briefcase fa-lg"></i>
    <i class="fa fa-cog fa-lg"></i>
  </div>
</div>

<div class="content">
  <div class="topnav">
    <a href="#home">Dashboard</a>
    <a href="#news">Engagements</a>
    <a href="#contact">Forecast</a>
    <a href="#home">Tasks</a>
    <a href="#news">Calender</a>
    <a href="#contact">Reports</a>
    <a href="#contact">Settings</a>
    <div class="topnav-right">
      <a href="#search"
        ><button class="btn"><i class="fa fa-plus"></i> Quick Add</button></a
      >
      <a href="#search"><i class="fa fa-search fa-lg"></i></a>
      <a href="#about"><i class="fa fa-comment fa-lg"></i></a>
      <a href="#bell"><i class="fa fa-bell fa-lg"></i></a>
    </div>
  </div>
</div>

<div class="new-eng">
  <div class="load">
    <p>New Engagement</p>
    <div class="right-btn">
      <a href="#search">Cancel</a>
      <a href="#search"><button class="btn1">Edit</button></a>
    </div>
  </div>
</div>

<div class="arrow-loader">
  <div class="loader">
    <p>Engagement Title</p>
  </div>
  <div class="arrow-steps clearfix">
    <div class="step current"><span>Lead</span></div>
    <div class="step"><span>Step 2</span></div>
    <div class="step"><span>Step 3</span></div>
    <div class="step"><span>Step 4</span></div>
    <div class="step"><span>Step 5</span></div>
    <div class="step"><span>Step 6</span></div>
  </div>
</div>

<div class="card">
  <p id="basic">Basic Details</p>
  <div class="login-form">
    <div class="login">
      <input
        type="email"
        name="email"
        id="email1"
        placeholder="Select Company"
      />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Select Source"
      />
      <br />
      <input type="password" name="password" id="pass" placeholder="Industry" />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Contact Source"
      />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Expected Maturity Date"
      />
      <br />
    </div>
  </div>
</div>

<div class="card">
  <p id="basic">Contacts</p>
  <button class="btn2"><i class="fa fa-plus"></i> New</button>
  <div class="login-form">
    <div class="login">
      <input type="email" name="email" id="email1" placeholder="Search" /><i
        class="fa fa-search"
        id="search"
      ></i>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
  </div>
</div>

<div class="tabs">
  <mat-tab-group>
    <mat-tab label="Tasks">
      <button class="btn3"><i class="fa fa-plus"></i> New</button>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px"
            >Send Proposals
          </mat-card-title>
          <div style="margin-left: 125px">
            25-07-20<br />
            <div style="text-align: center; color: #999999; font-size: 8px">
              Due on
            </div>
          </div>
          <div style="margin-left: 45px; color: #283f8b">
            Nimra<br />
            <div style="text-align: center; color: #999999; font-size: 8px">
              Assigned to
            </div>
          </div>
          <button class="btn4">Normal</button>
          <mat-card-subtitle style="font-size: 9px"
            >Created By Obaid 23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px"
            >Send Proposals</mat-card-title
          >
          <div style="margin-left: 125px">
            25-07-20<br />
            <div style="text-align: center; color: #999999; font-size: 8px">
              Due on
            </div>
          </div>
          <div style="margin-left: 45px; color: #283f8b">
            Nimra<br />
            <div style="text-align: center; color: #999999; font-size: 8px">
              Assigned to
            </div>
          </div>
          <button
            class="btn4"
            style="background-color: #f5d6d8; color: #bf2c38"
          >
            High
          </button>
          <mat-card-subtitle style="font-size: 9px"
            >Created By Obaid 23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
        <p
          style="
            font-size: 10px;
            color: #737373;
            line-height: 10px;
            margin-left: 18px;
          "
        >
          Ex exercitation minim aliqua ad non mollit in non elit aliquip eu
          fugiat. Irure incididunt ipsum pariatur consectetur occaecat quis qui
          ex et anim. Aliquip et excepteur amet laborum aliqua esse ad.
        </p>
      </mat-card>
    </mat-tab>
    <mat-tab label="Services">
      <button class="btn3"><i class="fa fa-plus"></i> New</button>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #2c4699"
            >Web Development
          </mat-card-title>
          <!-- <div style="font-size: 8px">23-3-20 at 8:33 pm</div> -->
          <div
            style="
              margin-left: 210px;
              color: #283f8b;
              float: right;
              font-size: 10px;
            "
          >
            End 23-3-20
          </div>
          <button class="btn5">View Detail</button>
          <mat-card-subtitle style="font-size: 9px"
            >Created By Obaid 23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
        <div
          style="
            margin-left: 15px;
            font-size: 10px;
            display: flex;
            column-gap: 68px;
          "
        >
          <p>Type</p>
          <p>OTC</p>
          <p>RC</p>
          <p>Rev</p>
          <p>POC</p>
          <p>PMO</p>
        </div>
        <div
          style="
            margin-left: 15px;
            font-size: 10px;
            display: flex;
            column-gap: 50px;
          "
        >
          <p>Custom</p>
          <p>200,000</p>
          <p>200,000</p>
          <p>200,000</p>
          <p style="color: #2c4699">Person Name</p>
          <p style="color: #2c4699">Person Name</p>
        </div>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #2c4699"
            >POS Integration
          </mat-card-title>
          <!-- <div style="font-size: 8px">23-3-20 at 8:33 pm</div> -->
          <div
            style="
              margin-left: 210px;
              color: #283f8b;
              float: right;
              font-size: 10px;
            "
          >
            End 23-3-20
          </div>
          <button class="btn5">View Detail</button>
          <mat-card-subtitle style="font-size: 9px"
            >Created By Obaid 23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
        <div
          style="
            margin-left: 15px;
            font-size: 10px;
            display: flex;
            column-gap: 68px;
          "
        >
          <p>Type</p>
          <p>OTC</p>
          <p>RC</p>
          <p>POC</p>
          <p>PMO</p>
        </div>
        <div
          style="
            margin-left: 15px;
            font-size: 10px;
            display: flex;
            column-gap: 45px;
          "
        >
          <p>Custom</p>
          <p>200,000</p>
          <p>200,000</p>
          <p style="color: #2c4699">Person Name</p>
          <p style="color: #2c4699">Person Name</p>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Timeline"> </mat-tab>
    <mat-tab label="Emails">
      <div class="emails">
        <div class="email-data">
          <div class="txt">IMAP Emails</div>
          <div style="font-size: 10px; color: #999999">Filter</div>
          <div class="email">user.name@brand.com</div>
          <div class="stop-emails">
            Stop Email updates <button class="btn6">Send email</button>
          </div>
        </div>
      </div>

      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 12px; color: #2c4699"
            >Re: Email subject goes here
          </mat-card-title>
          <!-- <div style="font-size: 8px">23-3-20 at 8:33 pm</div> -->
          <div
            style="
              margin-left: 180px;
              color: #283f8b;
              float: right;
              font-size: 10px;
            "
          >
            <div class="buttons">
              <button class="btn7">Received</button>
              <button class="btn8">Reply</button>
            </div>
          </div>
          <!-- <button class="btn8">View Detail</button> -->
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
        <div
          style="
            margin-left: 15px;
            font-size: 10px;
            display: flex;
            column-gap: 135px;
          "
        >
          <p>From</p>
          <p>To</p>
          <p>CC</p>
        </div>
        <div
          style="
            margin-left: 15px;
            font-size: 12px;
            display: flex;
            column-gap: 30px;
          "
        >
          <p>user.name@brand.com</p>
          <p>user.name@brand.com</p>
          <p style="color: #2c4699">3 Others</p>
        </div>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 12px; color: #2c4699"
            >Re: Email subject goes here
          </mat-card-title>
          <!-- <div style="font-size: 8px">23-3-20 at 8:33 pm</div> -->
          <div
            style="
              margin-left: 180px;
              color: #283f8b;
              float: right;
              font-size: 10px;
            "
          >
            <div class="buttons">
              <button class="btn7">Received</button>
              <button class="btn8">Reply</button>
            </div>
          </div>
          <!-- <button class="btn8">View Detail</button> -->
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
        <div
          style="
            margin-left: 15px;
            font-size: 10px;
            display: flex;
            column-gap: 135px;
          "
        >
          <p>From</p>
          <p>To</p>
          <p>CC</p>
        </div>
        <div
          style="
            margin-left: 15px;
            font-size: 12px;
            display: flex;
            column-gap: 30px;
          "
        >
          <p>user.name@brand.com</p>
          <p>user.name@brand.com</p>
          <p style="color: #2c4699">3 Others</p>
        </div>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 12px; color: #2c4699"
            >Re: Email subject goes here
          </mat-card-title>
          <!-- <div style="font-size: 8px">23-3-20 at 8:33 pm</div> -->
          <div
            style="
              margin-left: 180px;
              color: #283f8b;
              float: right;
              font-size: 10px;
            "
          >
            <div class="buttons">
              <button class="btn7">Received</button>
              <button class="btn8">Reply</button>
            </div>
          </div>
          <!-- <button class="btn8">View Detail</button> -->
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
        <div
          style="
            margin-left: 15px;
            font-size: 10px;
            display: flex;
            column-gap: 135px;
          "
        >
          <p>From</p>
          <p>To</p>
          <p>CC</p>
        </div>
        <div
          style="
            margin-left: 15px;
            font-size: 12px;
            display: flex;
            column-gap: 30px;
          "
        >
          <p>user.name@brand.com</p>
          <p>user.name@brand.com</p>
          <p style="color: #2c4699">3 Others</p>
        </div>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 12px; color: #2c4699"
            >Re: Email subject goes here
          </mat-card-title>
          <!-- <div style="font-size: 8px">23-3-20 at 8:33 pm</div> -->
          <div
            style="
              margin-left: 180px;
              color: #283f8b;
              float: right;
              font-size: 10px;
            "
          >
            <div class="buttons">
              <button class="btn7">Received</button>
              <button class="btn8">Reply</button>
            </div>
          </div>
          <!-- <button class="btn8">View Detail</button> -->
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
        <div
          style="
            margin-left: 15px;
            font-size: 10px;
            display: flex;
            column-gap: 135px;
          "
        >
          <p>From</p>
          <p>To</p>
          <p>CC</p>
        </div>
        <div
          style="
            margin-left: 15px;
            font-size: 12px;
            display: flex;
            column-gap: 30px;
          "
        >
          <p>user.name@brand.com</p>
          <p>user.name@brand.com</p>
          <p style="color: #2c4699">3 Others</p>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Attachments">
      <button class="btn3">Add New</button>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >24 Files
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 12px">user name</div>
          </div>

          <div class="buttons" style="margin-left: 95px">
            <p class="btn-download" style="margin-top: 5px">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </p>
            <button
              class="btn8"
              style="background-color: #dcedeb; color: #0f574f"
            >
              Contract
            </button>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >File Name
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 12px">user name</div>
          </div>

          <div class="buttons" style="margin-left: 95px">
            <p class="btn-download" style="margin-top: 5px">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </p>
            <button
              class="btn8"
              style="background-color: #dcedeb; color: #0f574f"
            >
              Contract
            </button>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >File Name
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 12px">user name</div>
          </div>

          <div class="buttons" style="margin-left: 95px">
            <p class="btn-download" style="margin-top: 5px">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </p>
            <button
              class="btn8"
              style="background-color: #dcedeb; color: #0f574f"
            >
              Contract
            </button>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >File Name
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 12px">user name</div>
          </div>

          <div class="buttons" style="margin-left: 95px">
            <p class="btn-download" style="margin-top: 5px">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </p>
            <button
              class="btn8"
              style="background-color: #dcedeb; color: #0f574f"
            >
              Contract
            </button>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >File Name
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 12px">user name</div>
          </div>

          <div class="buttons" style="margin-left: 95px">
            <p class="btn-download" style="margin-top: 5px">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </p>
            <button
              class="btn8"
              style="background-color: #dcedeb; color: #0f574f"
            >
              Contract
            </button>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >File Name
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 12px">user name</div>
          </div>

          <div class="buttons" style="margin-left: 95px">
            <p class="btn-download" style="margin-top: 5px">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </p>
            <button
              class="btn8"
              style="background-color: #dcedeb; color: #0f574f"
            >
              Contract
            </button>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >File Name
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 12px">user name</div>
          </div>

          <div class="buttons" style="margin-left: 95px">
            <p class="btn-download" style="margin-top: 5px">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </p>
            <button
              class="btn8"
              style="background-color: #dcedeb; color: #0f574f"
            >
              Contract
            </button>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
    </mat-tab>
    <mat-tab label="Notes">
      <button class="btn3">Add New</button>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >Note Title
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 14px; color: black">
              user name
            </div>
          </div>

          <div
            class="buttons"
            style="margin-left: 125px; display: flex; float: right"
          >
            <button
              class="btn10"
              style="background-color: #dcedeb; color: #0f574f"
            >
              Rejection Reason
            </button>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 12:45 pm</mat-card-subtitle
          >
        </mat-card-header>
        <p
          style="
            font-size: 10px;
            color: #737373;
            line-height: 10px;
            margin-left: 18px;
          "
        >
          Ex exercitation minim aliqua ad non mollit in non elit aliquip eu
          fugiat. Irure incididunt ipsum pariatur consectetur occaecat quis qui
          ex et anim. Aliquip et excepteur amet laborum aliqua esse ad.
        </p>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >Note Title
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 14px; color: black">
              user name
            </div>
          </div>
          <div style="margin-left: 15px; color: #737373; font-size: 10px">
            Next Action<br />
            <div style="text-align: center; font-size: 14px; color: black">
              user name
            </div>
          </div>

          <div
            class="buttons"
            style="margin-left: 125px; display: flex; float: right"
          >
            <button
              class="btn8"
              style="background-color: #dcedeb; color: #0f574f"
            >
              On hold
            </button>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 12:45 pm</mat-card-subtitle
          >
        </mat-card-header>
        <p
          style="
            font-size: 10px;
            color: #737373;
            line-height: 10px;
            margin-left: 18px;
          "
        >
          Ex exercitation minim aliqua ad non mollit in non elit aliquip eu
          fugiat. Irure incididunt ipsum pariatur consectetur occaecat quis qui
          ex et anim. Aliquip et excepteur amet laborum aliqua esse ad.
        </p>
      </mat-card>
    </mat-tab>
    <mat-tab label="Proposals">
      <button class="btn3">Add New</button>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >Proposal
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 12px; color: black">
              user name
            </div>
          </div>

          <div class="buttons" style="margin-left: 95px">
            <p class="btn-download" style="margin-top: 5px">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </p>
            <button
              class="btn11"
              style="background-color: #dcedeb; color: #0f574f"
            >
              Approved
            </button>
            <i class="fa fa-ellipsis-h" style="margin-top: 10px"></i>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >Proposal
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 12px; color: black">
              user name
            </div>
          </div>

          <div class="buttons" style="margin-left: 95px">
            <p class="btn-download" style="margin-top: 5px">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </p>
            <button
              class="btn8"
              style="background-color: #f5d6d8; color: #bf2c38"
            >
              Rejected
            </button>
            <i class="fa fa-ellipsis-h" style="margin-top: 10px"></i>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px; color: #283f8b"
            >Proposal
          </mat-card-title>
          <div style="margin-left: 85px; color: #737373; font-size: 10px">
            Uploaded By<br />
            <div style="text-align: center; font-size: 12px; color: black">
              user name
            </div>
          </div>

          <div class="buttons" style="margin-left: 95px">
            <p class="btn-download" style="margin-top: 5px">
              <i class="fa fa-download" aria-hidden="true"></i> Download
            </p>
            <button
              class="btn8"
              style="background-color: #f5d6d8; color: #bf2c38"
            >
              Rejected
            </button>
            <i class="fa fa-ellipsis-h" style="margin-top: 10px"></i>
          </div>
          <mat-card-subtitle style="font-size: 9px"
            >23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="card1">
  <p id="basic">Basic Details</p>
  <div class="login-form">
    <div class="login">
      <input
        type="email"
        name="email"
        id="email1"
        placeholder="Select Company"
      />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Select Source"
      />
      <br />
      <input type="password" name="password" id="pass" placeholder="Industry" />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Contact Source"
      />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Expected Maturity Date"
      />
      <br />
    </div>
  </div>
</div>
