<div class="sidebar">
  <div class="side">
    <i class="fa fa-shopping-bag fa-lg"></i>
    <i class="fa fa-shopping-cart fa-lg"></i>
    <i class="fa fa-address-book fa-lg"></i>
    <i class="fa fa-briefcase fa-lg"></i>
    <i class="fa fa-cog fa-lg"></i>
  </div>
</div>

<div class="content">
  <div class="topnav">
    <a href="#home">Dashboard</a>
    <a href="#news">Engagements</a>
    <a href="#contact">Forecast</a>
    <a href="#home">Tasks</a>
    <a href="#news">Calender</a>
    <a href="#contact">Reports</a>
    <a href="#contact">Settings</a>
    <div class="topnav-right">
      <a href="#search">Search</a>
      <a href="#about">About</a>
    </div>
  </div>
</div>
