<div class="sidebar">
  <div class="side">
    <i class="fa fa-shopping-bag fa-lg"></i>
    <i class="fa fa-shopping-cart fa-lg"></i>
    <i class="fa fa-address-book fa-lg"></i>
    <i class="fa fa-briefcase fa-lg"></i>
    <i class="fa fa-cog fa-lg"></i>
  </div>
</div>

<div class="content">
  <div class="topnav">
    <a href="#home">Dashboard</a>
    <a href="#news">Engagements</a>
    <a href="#contact">Forecast</a>
    <a href="#home">Tasks</a>
    <a href="#news">Calender</a>
    <a href="#contact">Reports</a>
    <a href="#contact">Settings</a>
    <div class="topnav-right">
      <a href="#search"
        ><button class="btn"><i class="fa fa-plus"></i> Quick Add</button></a
      >
      <a href="#search"><i class="fa fa-search fa-lg"></i></a>
      <a href="#about"><i class="fa fa-comment fa-lg"></i></a>
      <a href="#bell"><i class="fa fa-bell fa-lg"></i></a>
    </div>
  </div>
</div>

<div class="new-eng">
  <div class="load">
    <p>New Engagement</p>
    <div class="right-btn">
      <a href="#search">Cancel</a>
      <a href="#search"><button class="btn1">Edit</button></a>
    </div>
  </div>
</div>

<div class="arrow-loader">
  <div class="loader">
    <p>Engagement Title</p>
  </div>
  <div class="arrow-steps clearfix">
    <div class="step current"><span>Lead</span></div>
    <div class="step"><span>Step 2</span></div>
    <div class="step"><span>Step 3</span></div>
    <div class="step"><span>Step 4</span></div>
    <div class="step"><span>Step 5</span></div>
    <div class="step"><span>Step 6</span></div>
  </div>
</div>

<div class="card">
  <p id="basic">Basic Details</p>
  <div class="login-form">
    <div class="login">
      <input
        type="email"
        name="email"
        id="email1"
        placeholder="Select Company"
      />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Select Source"
      />
      <br />
      <input type="password" name="password" id="pass" placeholder="Industry" />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Contact Source"
      />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Expected Maturity Date"
      />
      <br />
    </div>
  </div>
</div>

<div class="card">
  <p id="basic">Contacts</p>
  <button class="btn2"><i class="fa fa-plus"></i> New</button>
  <div class="login-form">
    <div class="login">
      <input type="email" name="email" id="email1" placeholder="Search" /><i
        class="fa fa-search"
        id="search"
      ></i>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
    <div class="contacts">
      <p id="name">James Fulkner</p>
      <p id="title">Accounts Manager</p>
    </div>
  </div>
</div>

<div class="tabs">
  <mat-tab-group>
    <mat-tab label="Tasks">
      <button class="btn3"><i class="fa fa-plus"></i> New</button>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px"
            >Send Proposals</mat-card-title
          >
          <p style="margin-left: 125px">25-07-20</p>
          <p style="margin-left: 45px; color: #283f8b">Nimra</p>
          <button class="btn4"><i class="fa fa-plus"></i> New</button>
          <mat-card-subtitle style="font-size: 9px"
            >Created By Obaid 23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
      </mat-card>
      <mat-card class="tabs-card">
        <mat-card-header>
          <mat-card-title style="font-size: 14px"
            >Send Proposals</mat-card-title
          >
          <p style="margin-left: 125px">25-07-20</p>
          <p style="margin-left: 45px; color: #283f8b">Nimra</p>
          <button class="btn4"><i class="fa fa-plus"></i> New</button>
          <mat-card-subtitle style="font-size: 9px"
            >Created By Obaid 23-3-20 at 11:45</mat-card-subtitle
          >
        </mat-card-header>
        <p
          style="
            font-size: 10px;
            color: #737373;
            line-height: 10px;
            margin-left: 18px;
          "
        >
          Ex exercitation minim aliqua ad non mollit in non elit aliquip eu
          fugiat. Irure incididunt ipsum pariatur consectetur occaecat quis qui
          ex et anim. Aliquip et excepteur amet laborum aliqua esse ad.
        </p>
      </mat-card>
    </mat-tab>
    <mat-tab label="Services">Content 2</mat-tab>
    <mat-tab label="Timeline">Content 3</mat-tab>
    <mat-tab label="Emails">Content 3</mat-tab>
    <mat-tab label="Attachments">Content 3</mat-tab>
    <mat-tab label="Notes">Content 3</mat-tab>
    <mat-tab label="Proposals">Content 3</mat-tab>
  </mat-tab-group>
</div>

<div class="card1">
  <p id="basic">Basic Details</p>
  <div class="login-form">
    <div class="login">
      <input
        type="email"
        name="email"
        id="email1"
        placeholder="Select Company"
      />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Select Source"
      />
      <br />
      <input type="password" name="password" id="pass" placeholder="Industry" />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Contact Source"
      />
      <br />
      <input
        type="password"
        name="password"
        id="pass"
        placeholder="Expected Maturity Date"
      />
      <br />
    </div>
  </div>
</div>
