.sidebar {
  width: 40px;
  background-color: #2c4699;
  position: fixed;
  height: 100%;
}

.side {
  line-height: 50px;
  padding: 2px;
  margin-left: 8px;
  margin-top: 260px;
  color: white;
  size: 2px;
}

.content {
  margin-left: 40px;
}
.topnav {
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  color: #737373;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 11px;
  margin-top: 10px;
  margin-left: 5px;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav-right {
  float: right;
  margin-top: 8px;
}

.topnav-right a {
  padding: 0px;
  margin-right: 25px;
  /* margin-left: 250px; */
  position: relative;
  right: 50px;
}

.btn {
  background-color: #eaefff;
  border: none;
  font-size: 10px;
  padding: 6px 14px;
  cursor: pointer;
  color: #2c4699;
  margin-top: 0px;
}

.new-eng {
  margin-top: 30px;
  margin-left: 80px;
  font-size: 17px;
}

.right-btn {
  float: right;
  position: relative;
  right: 80px;
  bottom: 30px;
}

.right-btn a {
  padding: 15px;
  font-size: 10px;
  color: #2c4699;
}

.btn1 {
  background-color: #2c4699;
  border: none;
  color: white;
  font-size: 10px;
  padding: 6px 14px;
  cursor: pointer;
  margin-top: 0px;
}

.arrow-loader {
  margin-left: 80px;
  font-size: 14px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-right: 95px;
  margin-top: 25px;
  padding: 45px;
}

@media screen and (max-width: 768px) {
  .arrow-loader {
    height: 55%;
    width: 65%;
  }
}
.loader {
  position: relative;
  bottom: 30px;
  right: 15px;
}

/* Breadcrups CSS */

.arrow-steps .step {
  font-size: 11px;
  text-align: center;
  color: white;
  cursor: default;
  /* margin: 0 3px; */
  padding: 3px;
  min-width: 180px;
  float: left;
  position: relative;
  background-color: #f4f4f4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -23px;
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 24px solid#F4F4F4;
  z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #1b998b;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #1b998b;
  right: -17px;
}

.card {
  width: 19%;
  margin-top: 12px;
  margin-left: 6%;
  font-size: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 65%;
    margin-top: 50px;
    margin-left: 16%;
    font-size: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
  }
}

.login-form {
  line-height: 45px;
  margin-left: 6%;
}

.login input {
  border: 1px solid grey;
  padding: 5px 18px;
}

#basic {
  margin-left: 15px;
}

.btn2 {
  background-color: #26a69a;
  border: none;
  font-size: 10px;
  padding: 6px 14px;
  position: relative;
  bottom: 30px;
  cursor: pointer;
  color: white;
  /* margin-top: 0px; */
  float: right;
}

#search {
  position: relative;
  right: 18px;
  color: #979797;
}

.contacts {
  line-height: 3px;
  margin-top: 20px;
}

#name {
  color: #2c4699;
  font-size: 12px;
}

#title {
  font-size: 9px;
}

.tabs {
  margin-left: 375px;
  position: absolute;
  top: 260px;
  /* width: 42%; */
}

@media screen and (max-width: 768px) {
  .tabs {
    margin-left: 28%;
    position: absolute;
    top: 1400px;
    width: 42%;
  }
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: 12px;
  display: flex;
  justify-content: left;
}
::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
  padding: 15px !important;
  margin: 3px !important;
}

.card1 {
  width: 19%;
  margin-top: 12px;
  position: absolute;
  top: 255px;
  left: 1000px;
  font-size: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
}

.btn3 {
  background-color: #26a69a;
  border: none;
  font-size: 10px;
  padding: 6px 14px;
  position: relative;
  bottom: 30px;
  cursor: pointer;
  color: white;
  margin-top: 40px;
  float: right;
}

.tabs-card {
  max-width: 568px;
  margin-top: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn4 {
  background-color: #dcedeb;
  border: none;
  font-size: 10px;
  padding: 6px 16px;
  position: relative;
  bottom: 30px;
  left: 45px;
  cursor: pointer;
  color: #0f574f;
  margin-top: 30px;
  float: right;
}
