<form action="post">
  <div class="heading">Gingko</div>
  <div class="login-form">
    <div class="login">
      <input type="email" name="email" id="email1" placeholder="E-mail" />
      <br />
      <input type="password" name="password" id="pass" placeholder="Password" />
      <br />
      <a routerLink="home"><button class="btn">Login</button></a>
      <br />
      <div class="checkbox">
        <input type="checkbox" id="member" name="member" value="Remember me" />
        <label for="box" id="box">Remember me</label>
        <a href="" id="box1">Forgot Password</a>
      </div>
      <div class="alch">
        <p>Powered By Alchemative</p>
      </div>
    </div>
  </div>
  <div class="img">
    <img src="assets/login.jpg" alt="" srcset="" />
  </div>
</form>

<router-outlet></router-outlet>
